<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Beancount Ionic</ion-card-title>
      <ion-card-subtitle>Created by Alex Richard Ford</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <a href="http://www.alexrichardford.com" target="_blank">
        http://www.alexrichardford.com
      </a>
    </ion-card-content>

    <ion-card-content>
      Beancount is a Python-based double-entry personal accounting system created by Martin Blais.
      <br />
      <a href="http://furius.ca/beancount/" target="_blank">
        http://furius.ca/beancount/
      </a>
    </ion-card-content>

    <ion-card-content>
      This project wouldn't be possible without the efforts of many open source projects, listed in no particular order:
      <ul>
        <li>Ionic Framework</li>
        <li>Angular</li>
        <li>NodeJS</li>
      </ul>
    </ion-card-content>

  </ion-card>

</ion-content>
