<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Add Entry</ion-title>
  </ion-toolbar>
</ion-header>

<!--
  The following might prove useful:

  - https://ionicframework.com/docs/native/geolocation
  https://github.com/ionic-team/ionic-native-google-maps
  https://ionicframework.com/docs/native/keyboard
  https://ionicframework.com/docs/native/ocr
  https://ionicframework.com/docs/native/vibration
-->

<ion-content padding>
  Add Entry

  <ion-item>
    <ion-label>Date</ion-label>
    <ion-datetime display-format="YYYY MMM DD"></ion-datetime>
  </ion-item>
  
  <ion-item>
    <ion-label>Flag</ion-label>
    <ion-checkbox></ion-checkbox>
  </ion-item>

  <ion-item>
    <ion-label>Payee</ion-label>
    <ion-input></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label>Narration</ion-label>
    <ion-input></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label>Tags</ion-label>
    <ion-input></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label>Links</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Account 1</ion-label>
    <ion-select>
      <ion-select-option>Assets:Banking:Ally:Checking</ion-select-option>
      <ion-select-option>Assets:Banking:Ally:Savings</ion-select-option>
      <ion-select-option>Liabilities</ion-select-option>
      <ion-select-option>Expenses</ion-select-option>
      <ion-select-option>Income</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Account 2</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-button>Add Entry</ion-button>

</ion-content>
