<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar></ion-searchbar>
  <ion-list>
    <ion-card>
      <ion-card-title>Snapshot</ion-card-title>
      <ion-card-subtitle>Financial health as of today...</ion-card-subtitle>
      <ion-card-content>Charts go here!</ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-title>Recent Activity</ion-card-title>
      <ion-card-subtitle>The 5 most recent activity...</ion-card-subtitle>
      <ion-card-content>
        <ion-list>
          <ion-item>Hi</ion-item>
          <ion-item>Hi</ion-item>
          <ion-item>Hi</ion-item>
          <ion-item>Hi</ion-item>
          <ion-item>Hi</ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Home</ion-label>
      <ion-badge>6</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="overview">
      <ion-icon name="contacts"></ion-icon>
      <ion-label>Overview</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="quick-add-tx">
      <ion-icon name="map"></ion-icon>
      <ion-label>Quick Add Tx</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>About</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
